* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3f4 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #63646680;
  border-radius: 10px;
}
